* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

header {
    margin-top: 46px;
    margin-left: 26px;
    margin-right: 24px;

    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.left-block {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 46px;
}

.categories {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0%;

    gap: 46px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.menu {
    display: none;
}

.header-links {
    color: black;
    text-decoration: none;

    display: flex;
    justify-content: center;
    text-align: center;
}

.btn-shoppy {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 60px;
    width: 163px;
    height: 46px;
    background-color: black;
    color: white;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-shoppy-mobile {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 60px;
    width: 163px;
    height: 46px;
    background-color: black;
    color: white;
    cursor: pointer;

    display: none;
    justify-content: center;
    align-items: center;
}

.right-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
}

.btn-search,
.btn-basket {
    border: none;
    cursor: pointer;
    background-color: white;
}

.main {
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.hero {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 71px;
}

.caption-block {
    margin-top: 175px;
    width: 301px;
}

.caption {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;

}

.describtion {
    margin-top: 10px;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 28px;
}

.btn-shop {
    margin-top: 25px;
    width: 195px;
    height: 50px;
    color: white;
    background-color: black;
    border-radius: 15px;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 28px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: start;
}

.hero-img-mobile {
    display: none;
    justify-content: center;
    align-items: start;
}

.left-convers {
    margin-top: 73px;
}

.left-convers-mobile {
    margin-top: 27px;

}

.right-convers {
    margin-top: 53px;
}

.right-convers-mobile {
    margin-top: 93px;
}

.product {
    margin-top: 150px;
}

.women-men {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 50px;
}

.women-img,
.men-img {
    display: block;
    width: 100%;
}

.women-img-mobile,
.men-img-mobile {
    display: none;
}

.women-block,
.men-block {
    position: relative;
    display: block;
    width: 50%;
}

.women-title,
.men-title {
    position: absolute;
    top: 40px;
    left: 20px;

    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
}

.shop-now-women {
    position: absolute;
    bottom: 40px;
    right: 40px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 28px;
}

.shop-now-men {
    position: absolute;
    bottom: 40px;
    left: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 28px;
}

.new-releases,
.top-kicks {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}


.section-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
}




.img-block {
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    gap: 85px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    justify-content: flex-start;
    padding-bottom: 15px;
}

.new-releases-img,
.top-kicks-img {
    flex: 0 0 auto;
    width: 250px;
    display: inline-block;
    background-color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20%;
}

.img-block::-webkit-scrollbar {
    height: 7px;
}

.img-block::-webkit-scrollbar-thumb {
    background-color: black;
    min-width: 300px;
}

.img-block::-webkit-scrollbar-track {
  background: white; /* фон трека */
}

.img-block::-webkit-scrollbar-track-piece:start {
    margin-left: calc(50% - 150px); /* половина ширины black-line */
}
.img-block::-webkit-scrollbar-track-piece:end {
    margin-right: calc(50% - 150px);
}


.img-block-mobile{
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 35px;

    overflow-x: auto;          /* включаем горизонтальный скролл */
  white-space: nowrap
}

.product-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.price {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.black-line {
    margin-top: 15px;
    width: 300px;
    height: 7px;
    background-color: black;
}

.notification {
    margin-top: 100px;
    margin-bottom: 100px;
    color: black;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.notification-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 40px;
    line-height: 40px;
}

.btn-join {
    width: 235px;
    height: 55px;
    color: black;
    background-color: white;
    border-color: black;
    border-width: 2px;

    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 28px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

footer {
    background-color: black;
    margin: 0;
    width: 100%;
}

.container {
    padding-right: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.info {
    padding-top: 60px;
    margin-left: 24px;
    margin-right: 155px;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;

    display: flex;
    justify-items: center;
    align-items: start;
    gap: 155px;
}

.info-title,
.media-title {
    color: #C4C4C4;
}

.my-account,
.help,
.about,
.legal-stuff {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.info-link-block{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 24px;
}

.info-link {
    color: white;
    text-decoration: none;
}

.social-media-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-media-icon {
    color: black;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}








@media (max-width: 1020px) {
    header {
        margin-top: 34px;
        margin-left: 32px;
        margin-right: 31px;
    }

    .categories {
        display: none;
    }

    .menu {
        display: block;
    }


    .btn-shoppy {
        display: none;
    }

    .btn-shoppy-mobile {
        display: flex;
    }

    .right-block {
        gap: 10px;
    }

    .hero-img {
        display: none;
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 90px;
    }

    .caption-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 0px;
    }

    .hero-img-mobile {
        display: flex;
    }

    .product {
        margin-top: 50px;
    }

    .women-men {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 100%;
    }

    .women-img,
    .men-img {
        display: none;
    }

    .women-img-mobile,
    .men-img-mobile {
        display: block;
        width: 100%;
        height: auto;
    }

    .shop-now-women {
        bottom: 20px;
        right: 20px;
    }

    .shop-now-men {
        bottom: 20px;
    }

    .women-title,
    .men-title {
        top: 26px;
    }

    .img-block{
        display: none;
    }
    .img-block-mobile{
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        gap: 35px;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        justify-content: flex-start;
        padding-bottom: 25px; /* место под линию */
        scrollbar-width: none;
    }

    .img-block-mobile::-webkit-scrollbar {
        display: none;
    }

    /* фейковая черная линия для мобилки */
    .img-block-mobile::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 74px; /* как у твоей .black-line в мобильной версии */
        height: 7px;
        background-color: black;
        border-radius: 0;
    }

     .new-releases-img,
    .top-kicks-img {
        flex: 0 0 auto;
        width: 220px; /* немного меньше для мобилки */
    }
    .black-line{
        width: 74px;
    }
    .notification{
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .info {
        flex-direction: row; 
        flex-wrap: wrap;
        margin-left: 24px;
        margin-right: 0;
        column-gap: 100px; 
        row-gap: 20px;
        margin-bottom: 20px;
    }

}