*{
    text-decoration: underline;
}

h3{
    color: green;
    background-color: black;
}

p{
    background-color: yellow;
}

h4{
    color: green;
    background-color: black;
}

/* dry */
span{
    color: red;
}

p span{
    color: blue;
}
header{
    background-color: yellow;
}

#bottom{
    background-color: purple;
    color: white;
}

.text-card{
    background-color: blue;
    color: yellow;
}

.big{
    font-size: 20px;
}

ul li:first-child{
    background-color: yellow;
}

ul li:last-child{
    background-color: pink;
}

ul li:nth-child(3){
    background-color: green;
}